.cardAnimContainer {
  padding: 100px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  
}

.cardWrap {
  margin: 10px;
  -webkit-transform: perspective(600px);
  transform: perspective(600px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
}

.cardWrap:hover .cardInfo {
  -webkit-transform: translateY(0);
  transform: translateY(0);
 
}

.cardWrap:hover .cardInfo p {
  opacity: 1;
}

.cardWrap:hover .cardInfo,
.cardWrap:hover .cardInfo p {
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}



.cardWrap:hover .cardBg {
  -webkit-transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;

}

.cardWrap:hover .card {
  -webkit-transition: 0.6s cubic-bezier(0.67, 1, 0.90, 1),
    box-shadow 2s cubic-bezier(0.67, 1,0.90, 1);
  transition: 0.6s cubic-bezier(0.67, 1, 0.90, 1),
    box-shadow 2s cubic-bezier(0.67, 1, 0.90, 1);
  box-shadow: rgba(248, 202, 152, 0.483) 0 0 40px 5px, rgba(255, 89, 0, 0.859) 0 0 0 1px,
    rgba(0, 0, 0, 0.733) 0 30px 60px 0, inset #333 0 0 0 5px,
    inset rgba(171, 171, 171, 0.406) 0 0 0 6px;
  
}

.card {
  position: relative;
  -webkit-box-flex: 0;
  flex: 0 0 240px;
  width: 20rem;
  height: 25rem;
  background-color: #333;
 margin: 35px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
    inset rgba(255, 255, 255, 0) 0 0 0 6px;
  -webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cardBg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 510px;
  width: 480px;
  opacity: 0.5;
  position: absolute;
  top: -5px;
  left: -20px;

  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.cardInfo {
  
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #d9d9d9;
  -webkit-transform: translateY(40%);
  transform: translateY(40%);
  -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 80%;
}

.cardInfo p {
  font-size: 18px;
  opacity: 0;
  text-shadow: black 0 2px 3px;
  -webkit-transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cardInfo * {
  position: relative;
  z-index: 1;
}

.cardInfo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 480px;
  height: 100%;
  background-image: -webkit-gradient-(linear,left top,left bottom,from(transparent),to(rgba(0, 0, 0, 0.6))
  );
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(6, 6, 6, 0.742) 100%
  );
  
}

.cardInfo h3 {
  font-size: 28px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

.cardTitle {
  color: rgb(251, 238, 227);
  margin-bottom: 5px;
}