.input-container {
  position: relative;

  input {
    width: auto;
  }

  .suggestions {
    position: absolute;
    top: 100%;
    left: 3%;
    color: black;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 1em;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 10;
    width: 300px;

    li {
      padding: 8px;
      cursor: pointer;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
